@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}




@layer components {


  .bg-gradient{
    @apply bg-gradient-to-r from-[#CDE6F3] via-[#F8F8F9] to-[#F8F8F9]
  }
  

  .iphone-cta{
    @apply absolute top-[-100px] w-[350px] right-[20%] max-xlg:right-[10%] max-xlg:w-[200px] max-xlg:top-[70px]  max-slg:w-[150px] max-slg:top-[170px] max-md:right-[9%]  max-md:top-[140px] max-xmd:hidden
  }

  .nav-links{
    @apply relative  w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-[#0045A5] after:w-[24px] after:rounded-[20px] text-lg after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center after:left-[30%] hover:text-[#0045A5] 
  }

  .nav-active{
    @apply relative text-[#0045A5]  w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-[#0045A5] after:w-[24px] after:scale-x-100 after:left-[30%]
  }

  .bg-headergradient{
    @apply bg-gradient-to-b from-[#0045A5] to-[#40ADE5] 
  }

  .headerBtn{
    @apply w-[150px] h-[54px] max-xslg:w-[120px] max-xslg:h-[44px]  max-sm:w-[100px] max-sm:h-[40px] max-xsm:w-[68px] max-xsm:h-[28px] bg-[#0045A5] relative rounded-[40px] top-[0px] left-[255px] max-xslg:left-[215px]  max-xslg:top-[-70px] max-lg:top-0 max-lg:left-[260px] max-sm:top-[-150px] max-sm:left-[175px] max-xsm:left-[118px] max-xsm:top-[-270px]
  }

  .headerBtnImg{
    @apply max-xslg:w-[80%] absolute left-[20px] bottom-[10px] max-xslg:left-[10px] max-xslg:bottom-[7px] max-xsm:left-[7px] max-xsm:bottom-[5px]
  }

  .floater-icons{
    @apply w-[70px] max-sm:w-[60px] max-xsm:w-[50px] xlg:w-[100px] absolute 
  }

  .box1{
    @apply floater-icons left-[20px] bottom-[-10px] max-xsm:bottom-[10px]
  }
  .box2{
    @apply floater-icons left-[120px] top-[50px]  max-sm:left-[70px] max-sm:top-[80px] max-xsm:left-[30px] max-xsm:top-[100px]
  }
  .box3{
    @apply floater-icons right-[250px] max-xslg:right-[200px] max-lg:right-[250px] top-[0px] max-sm:right-[160px] max-sm:top-[30px] max-xsm:right-[80px] max-xsm:top-[40px]
  }
  .box4{
    @apply floater-icons right-[100px] top-[50px]  max-sm:right-[70px] max-sm:top-[80px] max-xsm:right-[-10px] max-xsm:top-[100px]
  }
  .box5{
    @apply floater-icons right-0 bottom-0 max-xsm:right-[-20px]
  }
}

.box-shadow{
  box-shadow: 0px 4px 200px 0px #00000040;
}

/*nav bar*/

.plus-icon{
  transform: rotate(135deg);
}

.nav{
  background: rgba(255, 255, 255, 0.97);
  left: 0;
  top: 0;
  right: 0;
  transition: all 400ms ease;
  width: 100%;
}

.transition-div{
  transition: all 400ms ease;
}
.new_height{
  height: 480px;
}

/*offer hover effect*/
.offer-div{
  transition: all 400ms ease;
}

.offer-div:hover .offer-text{
  color: white ;
}

.offer-div:hover .offer-button{
  background: white;
  color: #0045A5;
}

.offer-div:hover .offer-img{
display: none;
}

.offer-div:hover .offer-img2{
display: block;
}

/* hand header keyframes - its a lot!!!*/



@keyframes shadow {
  0%, 25% {
    opacity: 0;
  }
  50%, 100% {
    opacity: 1;
  }
}

@keyframes shadow {
  0%, 25% {
    opacity: 0;
  }
  50%, 100% {
    opacity: 1;
  }
}

.handShadow {
  animation: shadow 2s linear infinite;
}

@keyframes recharge {
  0%, 25% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

@keyframes subscribe {
  0%, 25% {
    opacity: 0;
  }
  50%, 100% {
    opacity: 1;
  }
}


.rechargebtn {
  animation: recharge 5s linear infinite;
}

.subscribebtn {
  animation: subscribe 5s linear infinite;
}

/* icon animations */


@keyframes moveUp {
  0% {

    transform: translateY(0);
  }

  50%{
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(-20px);
  }
}

@keyframes moveUp1 {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50%{
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(-30px);
  }
}


.box-1{
  animation: moveUp 1s ease-in-out forwards
}

.box-2{
  animation: moveUp1 1s ease-in-out forwards;

}

.box-3{
  animation: moveUp1 1s ease-in-out forwards;

}

.box-4{

  animation: moveUp1 1s ease-in-out forwards;

}

.box-5{
  animation: moveUp1 1s ease-in-out forwards;

}


/*CTA ANIMATIONS*/
@keyframes loadingStroke-1 {
  0%, 100% {
    opacity: 0;
  }
  25%, 50% {
    opacity: 1;
  }
}

@keyframes loadingStroke-2 {
  0%,25%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.ellipsis {
  animation: loadingStroke-1 2s linear infinite;
}

.ellipsis2 {
  animation: loadingStroke-2 2s linear infinite;
}

/* CTA ANIMATIONS*/

/*companies animations*/
@keyframes companyDisplay1 {
  0%{
    opacity: 1;
  }
  25%,50%,100%{
    opacity: 0;
  }
  

}

@keyframes companyDisplay2 {
  0%,25%,100%{
    opacity: 0;
}
50%{
  opacity: 1;
}

}
@keyframes companyDisplay3 {
  0%,25%,50%{
    opacity: 0;
}


100% {
  opacity: 1;
}
}
.company1 {
  animation: companyDisplay1 4s linear infinite;
}

.company2 {
  animation: companyDisplay2 4s linear infinite;
}

.company3 {
  animation: companyDisplay3 4s linear  infinite;
}

/*spinner*/
@keyframes spin {
  0% {

    transform: rotate(0deg);
  }

  50%{
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 2s linear  infinite;
}


:root {
/* overflow-x: hidden; */
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {

}
